<div class="tabs-panel tab-milestones" id="tab-milestones">
  <p>"La información contenida es un esfuerzo de transparencia proactiva de carácter comunicacional, para conocer el estatus de avance de los proyectos, por lo que no constituyen, por sí solos, documentos de carácter oficial. Para documentación oficial la Ley de por medio de la Plataforma Nacional de Transparencia"</p>
  <%= render "milestones/milestones_content", milestoneable: milestoneable %>
</div>
