<div class="content-form mt-5">
    <div class="text-center">
        <h2>¡Revisa tu correo!</h2>

        <p>Te hemos enviado un mensaje a tu correo electrónico:</p>

        <p style="color: #00B777;"><%= session[:user_email] %></p>

        <p>Ábrelo y elige ‘<b>Restablecer contraseña</b>’.</p>

    </div>

    <div class="text-center mt-5">
        
        <%= link_to "Volver a la página principal", new_user_session_path, class: 'btn-default' %>

    </div>
</div>