  <footer class="bg-footer pt-3 pb-3 mt-auto">
      <div class="container-xxl">
        <div class="row">
          <div class="col-md-4 copyright order-3 order-lg-1">
            <div class="logo-footer-decide d-block mt-4">
              <%= image_tag(image_path_for('logo-footer-decide.png'), id: 'logo-footer', alt: "Decide San Pedro") %>
            </div>
            <p>Este portal usa la aplicación CONSUL que es software de código abierto.</p>
          </div>
          <div class="col-md-4 order-2 order-lg-2">
            <div class="content-footer text-center">
              <p>
                Iniciemos una nueva relación con la ciudad. Si tienes alguna duda, llámanos al 81 1212 1212 o escríbenos a decide@sanpedro.gob.mx
              </p>
              <p>
                Este programa es público, ajeno a cualquier partido político. Queda prohibido el uso para fines distintos a los establecidos en el programa.
              </p>
              <a class="aviso-privacidad text-center" target="_blank" href="https://transparencia.sanpedro.gob.mx/documentosAvisosPrivacidad/%205309/_2024520_95_AP-Presupuesto%20Participativo%20Decide%20San%20Pedro.pdf">Aviso de privacidad</a>
            </div>
          </div>
          <div class="col-md-4 text-end order-1 order-lg-2">
            <div class="logo-footer d-block ms-lg-auto mt-5">
              <%= image_tag(image_path_for('logo-footer.png'), id: 'logo-left', alt: "Decide San Pedro") %>
            </div>
          </div>
        </div>
      </div>
  </footer>
  <script id="botlers-messaging-sdk-v2" bmid="b7b3942691ad44c387f970da05774dab" src="https://widget.botlers.io/sdk/main.js" defer="true" async="true"></script>
</body>