<header class="br-btm-shadow mb-2">
  <div class="top-header">
    <div class="container-xxl">
      <div class="row">
        <div class="col-8 col-md-2 col-lg-4">
          <div class="logo mt-4">
            <a href="/" title="Decide San Pedro">
              <%= link_to root_path, accesskey: "0" do %>
                <%= image_tag(image_path_for('logo-dark.png'), id: 'logo-sp', alt: "Decide San Pedro") %>
              <% end %>
            </a>
          </div>
        </div>
        <div class="col-4 col-md-10 col-lg-8 pt-30 pb-50 text-end text-sm-end mtext-md-end">
          <%= render partial:"shared/nav_menu", locals: { myclass: 'nav-color' } %>
        </div>
      </div>
    </div>
  </div>
</header>
